
<footer class="al-footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span>&copy; @Html.Label(DateTime.Now.Year.ToString()) - <a href="#">PlusDelivery.</a></span>
            </div>

            <div class="col-md-4">
                <h4><b>Síguenos en:</b></h4><br />
                <a href="https://www.facebook.com/Saludsa/" target="_blank"><i class="fa fa-3x fa-facebook-square color-principal"></i></a>
                <a href="https://twitter.com/Esaludsa" target="_blank"><i class="fa fa-3x fa-twitter-square color-principal"></i></a>
                <a href="https://www.instagram.com/saludsa" target="_blank"><i class="fa fa-3x fa-instagram color-principal"></i></a>
                <a href="https://www.youtube.com/user/SaludSA" target="_blank"><i class="fa fa-3x fa-youtube-square color-principal"></i></a>
                <a href="https://www.linkedin.com/company/e-saludsa" target="_blank"><i class="fa fa-3x fa-linkedin-square color-principal"></i></a>
            </div>
        </div>
    </div>
</footer>

