
<footer class="al-footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><b>Contáctenos:</b></h4>
            </div>
            <div class="col-md-4">
                <h5><b>Oficinas administrativas</b></h5>
                <span>(593) 2 500 30 40 Sierra</span><br />
                <span><b>Extensi&oacute;n: </b>1447</span><br />
                <span>Mail: <a href="mailto:conveniosuio@saludsa.com.ec">conveniosuio@saludsa.com.ec</a></span><br />
                <br />
                <span>(593) 4 500 30 40 Costa</span><br />
                <span><b>Extensi&oacute;n: </b>2328</span><br />
                <span>Mail: <a href="mailto:convenios@saludsa.com.ec">convenios@saludsa.com.ec</a></span><br />
                <br />
                <span><b>Horario de atenci&oacute;n: </b>lunes a viernes de 8:30 a 17:30</span><br />
                <br />
                <span>&copy; @Html.Label(DateTime.Now.Year.ToString()) - <a href="http://saludsa.com">Copyright SaludSA.</a></span>
            </div>

            <div class="col-md-4">
                <h5><b>DrSaludsa 24/7</b></h5>
                <span>(593) 2 60 20 920 Sierra</span><br />
                <span>(593) 4 60 20 920 Costa</span><br />
                <span>Opci&oacute;n 1</span><br />
                <br />
                <h5><b>Servicio al Cliente</b></h5>
                <span>(593) 2 60 20 920 Sierra</span><br />
                <span>(593) 4 60 20 920 Costa</span><br />
                <span>Opci&oacute;n 2</span><br />
                <span><b>Horario de atenci&oacute;n: </b>lunes a viernes de 7:00 a 19:00</span><br />
                <br />
                <h5><b>Direcci&oacute;n</b></h5>
                <span><b>Quito:</b></span> República de El Salvador N36-84 y NN.UU. Edificio Quilate<br />
                <span><b>Guayaquil:</b></span> Av. Carlos Julio Arosemena Km. 3, junto al Colegio 28 de Mayo<br />
                <br />
            </div>


            <div class="col-md-4">
                <h4><b>Síguenos en:</b></h4><br />
                <a href="https://www.facebook.com/Saludsa/" target="_blank"><i class="fa fa-3x fa-facebook-square color-principal"></i></a>
                <a href="https://twitter.com/Esaludsa" target="_blank"><i class="fa fa-3x fa-twitter-square color-principal"></i></a>
                <a href="https://www.instagram.com/saludsa" target="_blank"><i class="fa fa-3x fa-instagram color-principal"></i></a>
                <a href="https://www.youtube.com/user/SaludSA" target="_blank"><i class="fa fa-3x fa-youtube-square color-principal"></i></a>
                <a href="https://www.linkedin.com/company/e-saludsa" target="_blank"><i class="fa fa-3x fa-linkedin-square color-principal"></i></a>
            </div>
        </div>
    </div>
</footer>

