

    <nav class="navbar navbar-toggleable-md fixed-top  navbar-light">

        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/assets/images/logo-metro.jpg" style="height: 35px" alt="Saludsa" />
        </a>
        @*<div id="idWifiOnline" class="fa fa fa-wifi fa-3x" style="color:darkblue;">
        </div>
        <div id="idWifiOffline" class="fa fa fa-wifi fa-3x" style="color:red;">
        </div>*@

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
